*{
    font-family: Arial, Helvetica, sans-serif;
    /*Altera a fonte do site todo*/
}
body{
    margin: 0;
    padding: 0;
    padding-bottom: 300px;
}
.flex{
    display: flex;
    flex-wrap: wrap;
}

article{
    flex: 1;
    min-width: 300px;
    margin-right: 20px;
}

header{
    display: flex;
    justify-content: center;
    height: 120px;
}

.container{
    display: flex;
    width: 990px;
    justify-content: space-between;
}

.logo{
    display: flex;
    align-items: center;
}

.menu{
    display: flex;
    align-items: center;
}
nav ul,
nav li{
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul{
    display: flex;
}

nav a{
    display: block;
    padding: 15px;
    text-decoration: none;
    color: #727272;
}

nav .ativo a,
nav a:hover{
    background-color: #39aae1;
    color: white;
}

#banner{
    background-image: url('../Imagem/img1.jpg');
    background-position: center;
    background-size: cover;
    height: 670px;
    display: flex;
    justify-content: center;
}

.coluna{
    flex-direction: column;
}
.banner_texto{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.banner_texto h1{
    color: #ffffff;
    font-size: 70px;
    text-shadow: 0px 1px 0px #555555; 
    margin: 0;
    padding: 0;
    max-width: 350px;
}
.banner_texto h2{
    color: #ffffff;
    font-size: 22px;
    text-shadow: 0px 1px 0px #555555; 
    margin: 0;
    padding: 0;
    max-width: 350px;
    margin-top: 30px;
}
.banner_op{
    height: 210px;
    display: flex;
}
.banner1,
.banner2,
.banner3{
    flex: 1;
    color: #ffffff;
    padding: 20px;
}

.banner1{
    background-color: #39aae1;
}
.banner2{
    background-color: #0079c7;
}
.banner3{
    background-color: #2b4c99;
}

.titulo_banner{
font-size: 21px;
}
.descricao_banner{
    font-size: 12px;
    margin-top: 20px;
    margin-bottom: 5px;
}
.banner_op a{
    display: inline-block;
    border: 1px solid #ffffff;
    padding: 5px;
    text-align: nome;
    color: #ffffff;
    font-size: 13px;
}

/*Css do dia e hora de atendimento*/
.banner3 h2{
    font-size: 12px;
    margin-top: 15px;
    margin-bottom: 20px;
}

.dias{
    display: flex;
    justify-content: space-between;
    margin-top: 0px;
    border-bottom: solid #ffffff 1px;
}



#geral{
    display: flex;
    justify-content: center;
}

#geral section{
    flex: 2;
}

#geral aside{
    flex: 1;
}

.widget_titulo{
    margin-top: 30px;
    margin-bottom: 20px;
}

.widget_titulo_texto{
    color: #000000;
    font-size: 21px;
    font-weight: bold;
}

.widget_titulo_bar{
width: 50px;
height: 3px;
background-color: #36a9e1;
margin-top: 10px;
}

article .Data_noticia{
    display: flex;
}

article .dia_da_postagem{
    background-color: #2b4c99;
    color: #ffffff;
    font-size: 12px;
    padding: 10px;
    margin-right: 2px;
}
article .comentario{
    background-color: #39aae1;
    color: #ffffff;
    font-size: 12px;
    padding: 10px ;
}

article .thumbnail{
    margin-top: 30px;
}
article .thumbnail img{
    width: 100%;
    height: auto;
}

article .thumbnail_titulo{
    margin-top: 25px;
    margin-bottom: 25px;
    color: #000000;
    font-size: 23px;
}

article .thumbnail_Resumo{
    margin-top: 25px;
    margin-bottom: 25px;
    line-height: 20px;
    color: #5c5c5c;
    font-size: 14px;
}
article a{
    text-decoration: none;
}

.item_photo{
    /*background-color: #0079c7;*/
    margin: 10px;
    flex:1;
    min-width: 110px;
    height: 150px;
}

aside .widget_corpo{
    flex-wrap: wrap;
}
aside .item_photo img{
    width: 100%;
    height: auto;
}/*Caso der merda usar tirar esse*/

.widget_texto{
    margin-top: 30px;
    margin-bottom: 30px;
}

.conteudo_contato{
    flex-direction: column;
}

.contato_lateral{
    border-top: 1px solid #e0e0e0;
    font-size: 14px;
}

.contato_lateral p{
    margin: 20px;
    color: #dbcab3;
}
.contato_lateral p strong{
    color: #000000;
}

.contato_lateral a{
    text-decoration: none;
    color: #5e56a3;
}

.contato_lateral a:hover{
    color: #000000;
}

footer{
    background-color: #1e1e1e;
    display: flex;
    justify-content: center;
}

.footer_menu{
    display: flex;
}

.menu1,.menu2,.menu3{
    flex: 1;
    color: #ffffff;
    padding: 20px;
}

.menu1{
    background-color: #39aae1;
}
.menu2{
    background-color: #0079c7;
}
.menu3{
    background-color: #2b4c99;
}

.footer_area{
    display: flex;
    color: white;
}

.footer_areaitem{
    flex: 1;
}

.flexColumn{
    flex-direction: column;
}

footer .widget_titulo_texto{
    color: #ffffff;
    font-size: 17px;
}

footer .widget_texto{
    font-size: 11px;
    color: #909090;
}