*{
    font-family: Arial, Helvetica, sans-serif;
    /*Altera a fonte do site todo*/
}
body{
    margin: 0;
    padding: 0;
}

header{
    display: flex;
    justify-content: center;
    height: 120px;
}

.container{
    display: flex;
    justify-content: space-between;
    width: 990px;
}

.logo{
    display: flex;
    align-items: center;
}

.menu{
    display: flex;
    align-items: center;
}
nav ul,
nav li{
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul{
    display: flex;
}

nav a{
    display: block;
    padding: 15px;
    text-decoration: none;
    color: #727272;
}

nav .ativo a,
nav a:hover{
    background-color: #39aae1;
    color: white;
}

#banner{
    background-image: url('../Imagem/img1.jpg');
    background-position: center;
    background-size: cover;
    height: 670px;
    display: flex;
    justify-content: center;
}

.coluna{
    flex-direction: column;
}
.banner_texto{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.banner_texto h1{
    color: #ffffff;
    font-size: 70px;
    text-shadow: 0px 1px 0px #555555; 
    margin: 0;
    padding: 0;
    max-width: 350px;
}
.banner_texto h2{
    color: #ffffff;
    font-size: 22px;
    text-shadow: 0px 1px 0px #555555; 
    margin: 0;
    padding: 0;
    max-width: 350px;
    margin-top: 30px;
}
.banner_op{
    height: 210px;
    display: flex;
}
.banner1,
.banner2,
.banner3{
    flex: 1;
    color: #ffffff;
    padding: 20px;
}

.banner1{
    background-color: #39aae1;
}
.banner2{
    background-color: #0079c7;
}
.banner3{
    background-color: #2b4c99;
}

.titulo_banner{
font-size: 21px;
}
.descricao_banner{
    font-size: 12px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.banner_op a{
    display: inline-block;
    border: 1px solid #ffffff;
    padding: 5px;
    text-align: nome;
    color: #ffffff;
    font-size: 13px;
}

.banner3 h2{
    font-size: 12px;
    margin-top: 20px;
    margin-bottom: 20px;
}